<!DOCTYPE html>
<html>
<head>
	<title>Mongo Scraper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="./../../assets/css/style.css"> -->

  
    
  

</head>
<body>
<div class="container">
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
	  		<div class="navbar-header">
		  		<a class="navbar-brand" href="/">Mongo-Scraper</a>
		  			<ul class="nav navbar-nav">
				  		<!-- <li><a href="/">Home</a></li> -->
				  	<!-- 	<li><a href="/saved">Saved Articles</a></li> -->
                        <li><a href="/scrape" id="scrapeButton"><button type="button" class="btn btn-primary">SCRAPE ARTICLES!</button></a></li>
		  			</ul>
	  		</div>
	  	</div>
	</nav>

	

		<div class=" text-centered jumbotron">
	 		<h1 class="text-center">Mongo Scraper</h1>
	 		<p class="text-center">New York Times Edition</p>
		</div>
	</div>
<!-- 	<div id="articles"></div> -->
  <div id="notes"></div>

	

	{{{body}}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<div id="notes"></div>
    <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="./../app.js"></script>
</body>
</html>