<h1>Web Development Reddit Articles</h1>

<h2>Click here to get the Web Development Articles from the Reddit!</h2>

<ul>
    {{#each article}}
      <p>{{title}}</p>
      <p>{{link}}</p>
      <hr>
    {{/each}}
</ul>