<div class="container">
	{{#each article}}
	  <div class="alert alert-info"><p>{{title}}</p></div>
	  <p>{{link}}</p>
	  <button type="button" class="btn btn-primary" id="noteButton">Add Notes</button>
	  <hr>
	{{/each}}

</div>